.note_active {
	width: 250px;
	min-height: 250px;
	position: fixed;
	background-color: var(--note-color);
	background-image: url('./../assets/images/sublayer.png');
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	//padding: 20px;
	z-index: 1000;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.3s ease-out;

	transition: all 0.3s ease;
  &.deleting {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -50%) scale(0.9); }
  to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}
