@use "./../styles/variables.scss";

.header {
	display: flex;
	justify-content: end;
	//margin-bottom: clamp(1.2em, 1.5vw, 2em);
	margin-bottom: 2rem;
}

.visually_hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.logo {
	font-family: variables.$font-display;
	//font-size: variables.$display-xl;
	font-size: clamp(36px, 6vw, 54px);
	font-weight: 700;
	background: linear-gradient(90deg, #9B59B6, #54C6EB);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;

	position: fixed;
  // right: 20px;
  // bottom: 20px;
	//right: clamp(1.5rem, 5vw, 3.2rem);
	right: calc(50% - min(1240px, 100%)/2 + clamp(1.5rem, 5vw, 1.5rem));
	top: clamp(1.5rem, 3vw, 3.2rem);
  z-index: 1000;
	// width: 60px;
	// height: 60px;
	// width: clamp(60px, 8vw, 75px);
	// height: clamp(60px, 8vw, 75px);;
	// border-radius: 50%;
	// padding: 0;
}

