@use "./../styles/variables.scss";

.note {
	position: absolute;
	cursor: move;
	width: 250px;
	min-height: 250px;
	height: fit-content;
	background-image: url('./../assets/images/sublayer.png');
	background-size: 100%;
	background-repeat: repeat;
	padding: 1.5rem;
	padding-bottom: 0.3rem;
	font-family: variables.$font-sticker;
	font-size: 1rem;
	overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	transition:
    width 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    min-height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    transform 0.2s ease,
    box-shadow 0.2s ease,
		left 0.3s ease,
    top 0.3s ease;
}

.note_hovered {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translateY(-5px) scale(1.02);
}

.note_hovered .wrap_button {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.wrap_note__edit {
	width: 350px !important;
	min-height: 350px !important;
	height: fit-content !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) scale(1.05) !important;
  z-index: 9999 !important;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2) !important;
}

.note__edit {
	display: flex;
	flex-direction: column;
	min-height: 350px;
	height: 100%;
}

.textarea {
	font-size: 1.2rem;
	flex-grow: 1;
	padding: 0;
}

.wrap_button {
	display: flex;
	gap: 5px;
	justify-content: flex-start;
	flex-direction: row-reverse;
	opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;

	& .tooltip_button {
		background: linear-gradient(45deg, #9B59B6, #54C6EB);
		border-radius: 10px;
	}

	&__edit {
		opacity: 1;
		transform: none;
	}
}

.button {
	font-family: variables.$font-interface;
	font-size: 0.9rem;
	opacity: 0.5;
	padding: 5px;
	width: 30px;
	height: 30px;

	&:hover,
	&:focus {
		opacity: 1;
	}

	&__edit {
		width: 40px;
		height: 40px;
	}
}

