@use "./../styles/variables.scss";

.main {
	flex-grow: 1;
}

.text {
	font-size: variables.$interface-md;
	font-weight: variables.$weight-bold;
	margin-bottom: 13px;
}

.listNotes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 22px;
	column-gap: 27px;
	margin: auto;
	// min-width: 150px;
	// min-height: 150px;
}

.note {
	width: 45%;
  max-width: 300px;
  height: 39vw;
  min-height: 150px;
  max-height: 300px;
	background-color: variables.$sunflower;
	background-image: url('./../assets/images/sublayer.png');
	background-size: 100%;
	background-repeat: repeat;
	padding: 10px;
	font-family: variables.$font-sticker;
	font-size: variables.$sticker-sm;
	overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.commonButton {
	display: block;
	box-sizing: border-box;
	border: none;
	background-color: variables.$amethyst;
	color: variables.$cream;
	padding: 12px 35px;
	border-radius: 20px;

	&:hover {
		background-color: variables.$sky-blue;
	}

	&:focus,
	&:focus-visible {
		border: 2px solid variables.$text-interface;
	}
}

.rectangleButton {
	margin: 0 auto;
}

.circleButton {
	position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 0;
	background-image: url('./../assets/images/plusForButton.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}
