@use "./../styles/variables.scss";

.main {
	flex-grow: 1;
}

.text {
	font-size: variables.$interface-md;
	font-weight: variables.$weight-bold;
	margin-bottom: 13px;
}

.commonButton {
	display: block;
	box-sizing: border-box;
	border: none;
	background-color: variables.$amethyst;
	color: variables.$cream;
	padding: 12px 35px;
	border-radius: 20px;

	&:hover {
		background-color: variables.$sky-blue;
	}

	&:focus,
	&:focus-visible {
		border: 2px solid variables.$text-interface;
	}
}

.rectangleButton {
	margin: 0 auto;
}

.circleButton {

}
