@use "./../styles/variables.scss";

.note {
	--note-color: variables.$sunflower;
	width: clamp(150px, 30vw, 250px);
  height: clamp(150px, 30vw, 250px);
	// width: 45%;
  // max-width: 250px;
  // height: 39vw;
  // min-height: 150px;
  // max-height: 250px;
	background-color: var(--note-color);
	background-image: url('./../assets/images/sublayer.png');
	background-size: 100%;
	background-repeat: repeat;
	padding: clamp(10px, 3vw, 25px);
	font-family: variables.$font-sticker;
	font-size: variables.$sticker;
	overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
