@use "./../styles/variables.scss";

.note {
	position: absolute;
	cursor: move;
	width: clamp(150px, 30vw, 250px);
  min-height: clamp(150px, 30vw, 250px);
	height: fit-content;
	background-image: url('./../assets/images/sublayer.png');
	background-size: 100%;
	background-repeat: repeat;
	padding: clamp(10px, 1.5vw, 25px);
	padding-bottom: 5px;
	font-family: variables.$font-sticker;
	font-size: variables.$sticker;
	overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
	display: flex;
	gap: clamp(10px, 3vw, 25px);;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.3s ease; /* Добавляем переход для всех свойств */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1); /* Тень в обычном состоянии */
}

.note_hovered {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Усиленная тень при наведении */
  transform: translateY(-5px) scale(1.02); /* Поднимаем и немного увеличиваем */
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28); /* Более динамичная анимация */
}

.note_hovered .wrap_button {
  opacity: 1; /* Появляются */
  transform: translateY(0); /* Возвращаются на место */
  transition-delay: 0.1s; /* Задержка перед появлением */
}

.wrap_button {
	display: flex;
	gap: 5px;
	justify-content: flex-start;
	flex-direction: row-reverse;
	opacity: 0; /* Начально невидимы */
  transform: translateY(10px); /* Начальное смещение */
  transition: all 0.3s ease; /* Плавное изменение */

	& .tooltip_button {
		background: linear-gradient(90deg, #9B59B6, #54C6EB);
		border-radius: 10px;
	}
}

.button {
	font-family: variables.$font-interface;
	font-size: variables.$interface-xs;
	opacity: 0.5;
	padding: 5px;
	width: 30px;
	height: 30px;

	&:hover,
	&:focus {
		opacity: 1;
	}
}

